@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--font-poppins), sans-serif;
  position: relative;
}

html, body {
  overflow: auto;
  min-height: 100vh;
}

.borderDot {
  border-bottom: 3px dotted #eee;
}