@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

::selection {
  background: #2a2a2a;
  color: #fff;
}

html, body {
  overflow-x: hidden;
  min-height: 100vh;

  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
  font-size: 14px;
}
pre {
  font-family: var(--font-poppins), sans-serif;
}

p {
  font-weight: 300;
}
button {
  transition: .45s;
}

span.symbol {
  font-family: 'Material Icons', sans-serif;
  display: inline-block;
 
  position: relative;
  top: 2px;
}
.borderDot {
  border-bottom: 3px dotted #eee;
}
.borderFooter {
  border-color: rgba(230, 230, 230, 0.38);
}
.divImage {
  background-repeat: no-repeat;
  background-size: cover;
}
.divImage.full {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* 
  Nav 
*/
nav li {
  transition: .4s;
}
nav li a {
  padding: 4px 0;
}
nav li:hover,
nav .active {
  color: #a5a5a5;
}
nav ul {
  transition: transform .5s ease, opacity .45s ease;
}

@media screen and (max-width:930px) {
  nav ul {
    right: 0;
    left: 0;
    top: 20px;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    @apply bg-white pb-10 h-screen;
  }
  nav ul.open {
    transform: translate(0);
  }
  nav ul.close {
    opacity: 0;
    z-index: -10;
    transform: translateX(-100%);
  }
}

/* 
  Start
*/
.startGap {
  gap: 30px;
}
.cachorro {
  background: url('/images/cachorro.webp') no-repeat;
  background-size: cover;
}
.botaoTransparente {
  font-weight: 500;
  font-size: 13px;
  color: #fff;

  background-color: transparent;
  border: 1px solid #fff; 

  transition: .45s;

  @apply px-6 py-3.5;
}
.botaoTransparente:hover {
  background-color: #fff;
  @apply hover:text-zinc-500;
}
.botaoTransparente.invertido {
  @apply border-zinc-700 text-zinc-700;
}
.botaoTransparente.invertido:hover {
  @apply bg-zinc-800 text-white;
}
/* 
  Empresa Card
*/
.EmpresaCard > div {
  background-color: rgba(42, 42, 42, .96);
  opacity: 0;
  transition: .5s;
}
.EmpresaCard:hover > div {
  opacity: 1;
}

/* 
  Carousel 
*/
.carouselContainer {
  position: relative;
}
.carousel {
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 70%;
}
.carousel > div {
  transition: transform 0.55s ease;
}
.carousel div {
  flex: 0 0 100%;
}
.carouselContainer:not(.ImageCarousel) button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  border: 1px solid;
  @apply border-zinc-900 text-3xl px-4 py-2.5;
}
.carouselContainer button.inactive {
  @apply border-neutral-600 text-zinc-600;
}

@media screen and (min-width: 1024px) {
  .carouselContainer:not(.ImageCarousel) .carousel div {
    width: auto;
    flex: 0 0 calc(33.333% - 27px);
  }
  .carouselContainer:not(.ImageCarousel) .carousel {
    width: 75%;
  }
}

.ImageCarousel .carousel {
  width: 100%;
}
.ImageCarousel .carousel > div {
  transition: transform 0.7s ease;
}
.ImageCarousel .dot {
  border-radius: 50%;
  box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.3);
}
@media screen and (max-width: 1024px) {
  .ImageCarousel .carousel div:not(.dots) {
    min-height: calc(80vw + 80px);
  }
}

/* Individual Produto */
.IndividualProduto > div {
  flex: 1 1 0;
}
.IndividualProduto .images {
  flex: 2.15 1 0%;
}
.IndividualProduto .carouselContainer {
  min-height: calc(55vh + 23vw);
}

/* Produto Card */
.ProdutoCard:hover a {
  opacity: 1;
  transform: translate(-50%, 0);
}
.ProdutoCard a {
  display: block;
  position: absolute;
  bottom: 35px;
  left: 50%;
  margin: auto;

  height: fit-content;
  width: fit-content;

  transform: translate(-50%, 140%);
  opacity: 0;

  transition: .6s transform, .4s opacity;
}

/* Responsive grid */
.responsiveGrid {
  @apply mx-auto gap-x-16 gap-y-8 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 sm:w-[75%] lg:w-[80%] w-[85%];
}


/* 
  Saiba Mais
*/
.saibaMais div {
  flex: 1 1 50%;
}

/* 
  Footer 
*/
.footerLogo {
  width: 45%;
  height: 100%;
  padding: 0 8px;
  
  position: static;
  bottom: 10px;
  left: 40px;

  @apply lg:w-[180px] lg:relative;
}

footer > * {
  width: 93%;
  @apply lg:w-[83%] xl:w-[73%];
}

footer > div {
  margin-top: 10px;
  margin-bottom: 35px;

  @apply lg:pl-[10px] lg:pr-[130px] lg:mb-[75px] lg:mt-[30px];
}

footer h3 {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: 0.7px;

  @apply lg:text-[16px];
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  font-size: 16px;

  @apply lg:gap-[12px] lg:pt-[12px] lg:text-[14px];
}
footer ul li {
  transition: .5s;
}
footer ul li:hover {
  color: #a1a1a1;
}

/* Contato */
.contato p {
  padding: 2px 0;
}
.contato a {
  color: #fff;
  border-radius: 1px;
  font-weight: 500;
  font-size: 16px;
  width: 130px;

  transition: .5s;
  @apply px-3 pb-2 pt-1.5;
}
.contato a span {
  top: 3px;
  font-size: 18px;
}
.contato a:hover {
  color: #1d1c1c;
}

/* Sobre */ 
.sobre p b {
  font-weight: 600;
}

/* Loading */
#preloader {
  overflow: hidden;
  background-color: #2a2a2a;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}